{{define "index"}}

{{template "top" .}}

    {{$questions := .data.questions}}

    <div class="row">
        {{if $questions}}
            <h2>All Questions</h2>
            <hr />
            {{range $questions}}
                <div class="question">
                    <h3><a href="#">{{.Title}}</a></h3>
                    <small>
                        By {{.UserID}} asked {{.CreatedAt}}
                        <a href="/questions/{{.ID}}/vote?act=up&kind=question">Upvote</a> |
                        <a href="/questions/{{.ID}}/vote?act=down&kind=question">Downvote</a> |
                    </small>
                    <hr />
                </div>
            {{end}}
            {{template "pagination" .}}
        {{else}}
            <p>No Questions found. <br /> Perhaps you would like to add or select a different tab</p>
        {{end}}

    </div>

{{template "bottom" .}}

{{end}}
