
{{define "pagination"}}

{{$pagination := .data.pagination}}

{{with $pagination}}
<div class="pagination">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {{if .PrevPage.Valid}}
        <li class="page-item"><a class="page-link" href="?page={{.PrevPage.Int64}}">Previous</a></li>
      {{else}}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
      {{end}}
      <li class="page-item"><a class="page-link" href="#">Page {{.Page}} of {{.NumPages}}</a></li>
      {{if .NextPage.Valid}}
        <li class="page-item"><a class="page-link" href="?page={{.NextPage.Int64}}">Next</a></li>
      {{else}}
      <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
      {{end}}
    </ul>
  </nav>
</div>
{{end}}

{{end}}
