{{define "questions"}}

{{template "top" .}}

    <h2>All Questions</h2>
    <hr />
    <div
      x-cloak
      x-data="{questions: [], pagination: {}, isLoading: true}"
      x-init="
        fetch('/api/v1/questions')
          .then(response => response.json())
          .then(response => {questions = response.data.questions; pagination = response.data.pagination; isLoading = false;})
      ">
        <h3 x-show="isLoading">Loading...</h3>
        <div class="questions" x-show="!isLoading">
          <template x-for="question in questions" :key="question.id">
            <div class="question">
              <a x-bind:href="'/jsquestions' + '/' + question.id"><h4 x-text="question.title"></h4></a>
              <small>
                  By <span x-text="question.user_id"></span> asked now
                  <a href="#">Upvote</a> |
                  <a href="#">Downvote</a> |
              </small>
              <p x-text="question.body"></p>
              <hr />
          </div>
          </template>
        </div>
    </div>

{{template "bottom" .}}

{{end}}
