{{define "question"}}

{{template "top" .}}

{{$question := .data.question}}
{{$currentUser := .user}}
{{$answers := .data.answers}}


<div class="question">
  <div class="row">
    {{with $question}}
        <h2>{{.Title}}</h2>
        <p><small>Asked by {{.UserID}}</small></p>
        <div>
          {{.Body}}
        </div>
        <p><small><a href="#">Upvote</a> | <a href="#">Downvote</a></small></p>
    {{end}}

    {{template "pagination" .}}
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h4>Answers</h4>
    <form action="/answers" method="post">
      <input type="hidden" name="user_id" value="{{.user.ID}}">
      <input type="hidden" name="question_id" value="{{$question.ID}}">
      <div class="form-group">
        <textarea class="form-control" name="body" id="body" cols="10" rows="5" placeholder="Answer"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Post your Answer</button>
    </form>
    <hr />
    <div class="answers">
      {{if $answers}}
        {{range $answers}}
          <div class="answer">
              <div>{{.Body}}</div>
              <small>
                By {{.UserID}} answered {{.CreatedAt}} <a href="#">Upvote</a> | <a href="#">Downvote</a>
            </small>
            <hr />
          </div>
        {{end}}
      {{template "pagination" .}}
      {{else}}
          <p>No Answer found.</p>
      {{end}}

    </div>
  </div>
</div>

{{template "bottom" .}}

{{end}}
